.choiceses {
}
p {
  color: black;
  font-weight: 300;
  margin: auto;
  font-size: 25px;
}

body {
  font-family: 'Lora', serif;
}

#stuff {
  display: block;
  visibility: hidden;
  margin: auto;
  width: 50%;
  align-content: center;
}

.choiceses {
  font-size: 20px;
  margin-top: 10px;


}

#start {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: justify;

}

#startBtn {
  margin: auto;
}

#correctAnswer {
  display: none;
  text-align: center;
}

#images {
  width: 10%;
  margin: auto;
  align-self: center;
}

#yes, #no {
  width: 100%;
  margin-top: 20px;
  display: none;
  align-self: center;
}
